@page
@model HolaWeb.App.Frontend.Pages.DetailsModel
@{
}
<h1>Detalle Saludos</h1>
<ul>
    <li>Id: @Model.Saludo.Id</li>
    <li>Día: @Model.Saludo.EnEspanol</li>
    <li>Tarde: @Model.Saludo.EnIngles</li>
    <li>Noche: @Model.Saludo.EnItaliano</li>
    <p><a href="./list">Volver a Lista</a></p>
</ul>